__pycache__
*.swp
*.pyc

db.sqlite3
*.db
*~

html/
htmlcov/
coverage/
.coverage
.tox
build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/

*.log
pip-log.txt

.DS_Store

env
site

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
