container_commands:
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && DJANGO_CONFIGURATION=Production python nsize/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config"
    "PYTHONPATH": "/opt/python/current/app/nsize:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: nsize/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "nsize/staticfiles/"
